<div class="container">
    <div class="columns has-text-centered is-centered">
        <md-dialog aria-label="Historique">
            <form name="registerForm" class="registerForm" ng-submit="updateUserPassWord()" novalidate>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Change password</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <i class="material-icons">
                                close
                            </i>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-content>


                    <div class="column is-12">

                        <div class="field">
                            <label class="label">New password</label>
                            <p class="control has-icons-left">
                                <input ng-model="password" ng-minlength="4" ng-maxlength="20" id="password"
                                       name="password"
                                       class="input {{(registerForm.password.$error.minlength || registerForm.password.$error.maxlength) ? 'is-danger' : ''}}"
                                       type="password" placeholder="Password" required>
                                <span class="icon is-small is-left">
							<i class="fas fa-lock"></i>
						</span>
                            </p>
                            <p class="help is-danger" ng-show="registerForm.password.$error.minlength"
                               class="help-block">Password is too short.</p>
                            <p class="help is-danger" ng-show="registerForm.password.$error.maxlength"
                               class="help-block">Password is too long.</p>
                        </div>

                        <div class="field">
                            <label class="label">Confirm new password</label>
                            <p class="control has-icons-left">
                                <input ng-model="confirmPassword" ng-pattern="password" id="confirmPassword"
                                       name="confirmPassword"
                                       class="input {{(registerForm.confirmPassword.$error.pattern && !registerForm.confirmPassword.$pristine) ? 'is-danger' : ''}}"
                                       type="password" placeholder="Password" required>
                                <span class="icon is-small is-left">
							<i class="fas fa-lock"></i>
						</span>
                            </p>
                            <p class="help is-danger"
                               ng-show="registerForm.confirmPassword.$error.pattern && !registerForm.confirmPassword.$pristine"
                               class="help-block">Passwords do not match.</p>
                        </div>
                        <div class="field">
                            <p class="control">
                            <div class="buttons has-addons is-centered">
                                <button class="button is-primary is-rounded" ng-disabled="registerForm.$invalid"
                                        type="submit">
                                    Confirm change
                                </button>
                            </div>

                            </p>
                        </div>
                    </div>


                </md-content>


            </form>
        </md-dialog>
    </div>
</div>