<md-dialog aria-label="Historique">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Playlists</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">
                        close
                    </i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-list>
                    <md-list-item class="{{classNbPlaylist}}" ng-repeat="(index, playlist) in playlists">
                        <div class="md-list-item-text">
                            <h3>{{playlist.name}}</h3>
                        </div>
                        <md-button class="button md-secondary" ng-class="loadingClass[index]" ng-click="add(playlist._id, video, index)">
                            <i class="fas fa-plus"></i>
                        </md-button>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>