<div class="container">
    <section class="hero is-fullheight">
        <div class="hero-head">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-full">
                        <h1 class="title is-1">{{vm.user.email}}</h1>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-one-third">
                        <div class="content">
                            <md-content>
                                <div ng-switch on="vm.user.lastConnexion">
                                    <div ng-switch-when="null">
                                        Never connected
                                    </div>
                                    <div ng-switch-default>
                                        Dernière connexion :<br>
                                        {{vm.user.lastConnexion | date:'dd/MM/yyyy'}}<br>
                                        à {{vm.user.lastConnexion | date:'H:mm'}}
                                    </div>
                                </div>
                            </md-content>
                        </div>
                    </div>
                    <div class="column is-one-third">
                                <div class="field">
                                    <label class="label">Email</label>
                                    <div class="control has-icons-left">
                                        <div class="control">
                                            <input ng-model="vm.email" class="input" type="text" readonly>
                                        </div>
                                        <span class="icon is-small is-left">
                                                <i class="fas fa-envelope"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">

                                    <label class="label">Type</label>
                                    <div class="control">
                                        <input ng-model="vm.type.value" class="input" type="text" readonly>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">State</label>
                                    <div class="control">
                                        <input ng-model="vm.state.name" class="input" type="text" readonly>
                                    </div>
                                </div>
                    </div>
                    <div class="column is-one-third">
                        <a  class="button is-primary is-large is-fullwidth" ng-click="vm.gohistory()">
                            Historique
                        </a>
                        <br>
                        <a  class="button is-danger is-fullwidth" ng-click="vm.changePassword()">
                            Change password
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>