<div class="container">
    <div class="columns is-centered">
        <div class="column">
            <section class="hero is-fullheight">
                <div class="hero-head">
                    <div class="columns">
                        <div class="column">
                            <h4 class="title">Historiques</h4>
                        </div>
                    </div>
                    <div ng-switch on="vm.historiques.all.length">
                        <div ng-switch-when="0">
                            <article class="message is-info">
                                <div class="message-body">
                                    You search nothing yet !
                                </div>
                            </article>
                        </div>
                        <div ng-switch-default>
                            <md-content>
                                <md-tabs md-dynamic-height="" md-border-bottom="">
                                    <md-tab label="Tous">
                                        <md-content class="md-padding">
                                            <table class="table is-fullwidth is-striped">
                                                <thead>
                                                <tr>
                                                    <th><abbr title="Recherche">Recherche</abbr></th>
                                                    <th><abbr title="Date">Date</abbr></th>
                                                    <th><abbr title="Heure">Heure</abbr></th>
                                                </tr>
                                                </thead>
                                                <tfoot>
                                                <tr>
                                                    <th><abbr title="Recherche">Recherche</abbr></th>
                                                    <th><abbr title="Date">Date</abbr></th>
                                                    <th><abbr title="Heure">Heure</abbr></th>
                                                </tr>
                                                </tfoot>
                                                <tbody>
                                                <tr ng-repeat="(index, historique) in vm.historiques.all | orderBy: reverse:true">
                                                    <td>{{historique.research}}</td>
                                                    <td>{{ historique.date | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{historique.date | date:'H:mm'}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="De la semaine">
                                        <md-content class="md-padding">
                                            <table class="table is-fullwidth is-striped">
                                                <thead>
                                                <tr>
                                                    <th><abbr title="Recherche">Recherche</abbr></th>
                                                    <th><abbr title="Date">Date</abbr></th>
                                                    <th><abbr title="Heure">Heure</abbr></th>
                                                </tr>
                                                </thead>
                                                <tfoot>
                                                <tr>
                                                    <th><abbr title="Recherche">Recherche</abbr></th>
                                                    <th><abbr title="Date">Date</abbr></th>
                                                    <th><abbr title="Heure">Heure</abbr></th>
                                                </tr>
                                                </tfoot>
                                                <tbody>
                                                <tr ng-repeat="(index, historique) in vm.historiques.week | orderBy: reverse:true">
                                                    <td>{{historique.research}}</td>
                                                    <td>{{ historique.date | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{historique.date | date:'H:mm'}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="Du mois">
                                        <md-content class="md-padding">
                                            <table class="table is-fullwidth is-striped">
                                                <thead>
                                                <tr>
                                                    <th><abbr title="Recherche">Recherche</abbr></th>
                                                    <th><abbr title="Date">Date</abbr></th>
                                                    <th><abbr title="Heure">Heure</abbr></th>
                                                </tr>
                                                </thead>
                                                <tfoot>
                                                <tr>
                                                    <th><abbr title="Recherche">Recherche</abbr></th>
                                                    <th><abbr title="Date">Date</abbr></th>
                                                    <th><abbr title="Heure">Heure</abbr></th>
                                                </tr>
                                                </tfoot>
                                                <tbody>
                                                <tr ng-repeat="(index, historique) in vm.historiques.month | orderBy: reverse:true">
                                                    <td>{{historique.research}}</td>
                                                    <td>{{ historique.date | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{historique.date | date:'H:mm'}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </md-content>
                                    </md-tab>
                                </md-tabs>
                            </md-content>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
